.logo{
    width: 30%;
    height: 30%;
}

.bg-grey{
    background-color: #d9d9d9!important;
}

.bg-yellow{
    background-color: #fff700!important;
}

.py-11{
    padding-top: 12rem!important;
}

.py-18{
    padding-top: 18rem!important;
}

.navbar {
    padding: 0 !important;
}


.herohomeimg {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('https://user-images.githubusercontent.com/17083566/88466237-1f295080-cec2-11ea-829b-58fe235ce1ab.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/*svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
  
}
/* set height to pixels if you want angle to change with screen width */

.foodheroimg {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('https://user-images.githubusercontent.com/17083566/88487874-db495080-cf80-11ea-9be7-61e51e55bb79.png');
    background-size: cover;
    background-repeat: no-repeat;
}


.eventsheroimg {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('https://user-images.githubusercontent.com/17083566/88487868-d4224280-cf80-11ea-8576-4823eabc348f.png');
    background-size: cover;
    background-repeat: no-repeat;
}

div#map {min-height: 360px;}

.mapContainer {
    padding: 20px;


/*Photo Grid - https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp*/
.categoryContainer {
    font-size: 0;
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

} 
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.gridrow {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.gridcolumn {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.gridcolumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


.ctaContainer {
    font-size: 0;
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center !important;
} 



.newslettercard {
    background-color: #d9d9d9 !important;
}








/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .gridcolumn {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gridcolumn {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
