@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');




/* Optional: Makes the sample page fill the window. */
/*html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#right-panel {
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select,
#right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

#right-panel {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  right: 5px;
  top: 60%;
  margin-top: -195px;
  height: 330px;
  width: 200px;
  padding: 5px;
  z-index: 5;
  border: 1px solid #999;
  background: #fff;
}

h2 {
  font-size: 22px;
  margin: 0 0 5px 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 271px;
  width: 200px;
  overflow-y: scroll;
}

li {
  background-color: #f1f1f1;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

li:nth-child(odd) {
  background-color: #fcfcfc;
}

#cafe {
  width: 100%;
  margin: 5px 0 0 0;
}
*/













/*-----------------------------------S- General CSS area used more than once through out the site */

body {
  height:100%;
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

/*.card {
    border: none;
}*/

/*.bisCard{
    border: #FEF648 solid 1px !important;
}*/


/*-----------------------------------Colours */

.bg-grey{
    background-color: #d9d9d9!important;
}

.bg-yellow{
    background-color: #FEF648!important;
}

.card-header{
    background-color: #ffffff!important;
    border-bottom:none;
}

/*-----------------------------------Special paddings/margins/text  */


.py-18{
    padding-top: 18rem!important;
}




/*-----------------------------------Navigation */

.logo{
    width: 30%;
    height: 30%;
}

.navbar {
    padding: 0 !important;
}

/*-----------------------------------Background images - Homepage and hero images */
img.bannerLogo {
    width: 26%;
}


/*.heroimg{
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}*/

.herohomeimg {
    background: linear-gradient( rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.2)),
    url('https://user-images.githubusercontent.com/17083566/88712905-5aba5980-d112-11ea-94a3-6e7ca8207660.png');
}

.galwayherohomeimg {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('https://user-images.githubusercontent.com/17083566/88720215-690d7300-d11c-11ea-8932-b6a3f0a537c2.png');

}


.foodheroimg {
    background: linear-gradient( rgba(0, 0, 0, 0.5),
     rgba(0, 0, 0, 0.5)),
     url('https://user-images.githubusercontent.com/17083566/88487874-db495080-cf80-11ea-9be7-61e51e55bb79.png');
}


.eventsheroimg {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('https://user-images.githubusercontent.com/17083566/88487868-d4224280-cf80-11ea-8576-4823eabc348f.png');

}

.heroimg {
    height: 500px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}


.hero-title {
    
    font-weight: 500;
    font-size: 50px;
    color: #ffffff;
}

.hero-subtitle {
    
    font-weight: 300;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #ffffff;
}

.col.heading {

    margin-top: 10rem;
}



/*-----------------------------------Map */

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
/*#map {
  height: 100%;
}*/


div#map {
    min-height: 360px;
}

.mapContainer {
    padding: 20px;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}



/*-----------------------------------Catagory List Page */

.businessButtonSection{
    text-align: center;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;   
}

/*-----------------------------------Photo Grip for Catagories */

/*Photo Grid - https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp*/
.categoryContainer {
    font-size: 0;
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} 
* {
  box-sizing: border-box;
}


.gridrow {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.gridcolumn {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.gridcolumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/*-----------------------------------END  - Photo Grip for Catagories */



/*-----------------------------------Homepage */


.ctaContainer {
    font-size: 0;
    width: 80%;
    padding: 20px 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center !important;
} 

.newslettercard {
    background-color: #d9d9d9 !important;
}

/*-----------------------------------MISC */



/*................................................................................@media queries*/

/* logo on banner*/
@media screen and (max-width: 800px) {
.herohomeimg {
   height: 200px; 
    }
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .gridcolumn {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  iimg.bannerLogo {
    width: 26%;
    bottom: 50px;
    position: relative;
}   
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gridcolumn {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  .herohomeimg {
   height: 200px; 
    }
    img.bannerLogo {
    width: 26%;
    bottom: 50px;
    position: relative;
    }
}
