@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*-----------------------------------S- General CSS area used more than once through out the site */

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.card {
    border: none;
}


/*-----------------------------------Colours */

.bg-grey{
    background-color: #d9d9d9!important;
}

.bg-yellow{
    background-color: #FEF648!important;
}

/*-----------------------------------Special paddings/margins/text  */


.py-18{
    padding-top: 18rem!important;
}




/*-----------------------------------Navigation */

.logo{
    width: 30%;
    height: 30%;
}

.navbar {
    padding: 0 !important;
}

/*-----------------------------------Background images - Homepage and hero images */
img.bannerLogo {
    width: 26%;
}

.heroimg{
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.herohomeimg {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('https://user-images.githubusercontent.com/17083566/88712905-5aba5980-d112-11ea-94a3-6e7ca8207660.png');
}

.galwayherohomeimg {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('https://user-images.githubusercontent.com/17083566/88720215-690d7300-d11c-11ea-8932-b6a3f0a537c2.png');
}


.foodheroimg {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('https://user-images.githubusercontent.com/17083566/88487874-db495080-cf80-11ea-9be7-61e51e55bb79.png');
}


.eventsheroimg {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('https://user-images.githubusercontent.com/17083566/88487868-d4224280-cf80-11ea-8576-4823eabc348f.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}


/*-----------------------------------Map */

div#map {
    min-height: 360px;
}

.mapContainer {
    padding: 20px;
}


/*-----------------------------------Catagory List Page */

.businessButtons{
    text-align: center;

}

/*-----------------------------------Photo Grip for Catagories */

/*Photo Grid - https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp*/
.categoryContainer {
    font-size: 0;
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} 
* {
  box-sizing: border-box;
}


.gridrow {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.gridcolumn {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.gridcolumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/*-----------------------------------END  - Photo Grip for Catagories */



/*-----------------------------------Homepage */


.ctaContainer {
    font-size: 0;
    width: 80%;
    padding: 20px 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center !important;
} 

.newslettercard {
    background-color: #d9d9d9 !important;
}

/*-----------------------------------MISC */



/*................................................................................@media queries*/

/* logo on banner*/
@media screen and (max-width: 800px) {
.herohomeimg {
   height: 200px; 
    }
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .gridcolumn {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  iimg.bannerLogo {
    width: 26%;
    bottom: 50px;
    position: relative;
}   
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gridcolumn {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  .herohomeimg {
   height: 200px; 
    }
    img.bannerLogo {
    width: 26%;
    bottom: 50px;
    position: relative;
    }
}
